body{
    font-family:  Montserrat;
    font-weight: 400;
}
.nav{
    display: flex;
    justify-content: space-between;

background: var(--Dark, #333);
padding-top: 32px;
padding-bottom: 32px;
}
.container{
  
    margin: 0 auto;
}

.section1{
    background: var(--Dark, #333);
background-image: url(/img/image\ 8.png);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px

}

.nav_menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 50px

}
.menu li{
    display: flex;
    gap:50px;
    color: #FFF;

font-size: 14px;
font-weight: 600;
}
.nav_menu li{
    display: flex;
    gap:50px
}
.menu li a{
    color: #FFF;
font-size: 14px;
font-weight: 600;
}
.nav_menu li h1{
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}